<footer class="footer">
  <div class="group">
  	<p>Made with <a href="https://middlemanapp.com/" title="Visit the Middleman website" rel="nofollow">Middleman</a> and the <a href="https://github.com/Fueled/fueled-boilerplate" title="Fork the boilerplate on GitHub">Fueled boilerplate</a> in London; check out the <a href="/colophon" title="Find out more about my site">colophon</a> for more information. &copy; forever. And ever. Don’t be a dick. Oh, and <a href="/colophon#cookies" title="Find out which cookies are in action on this site, and how they make it better">I use cookies</a> to make my site better.</p>
    <ul class="list--inline">
      <!--<% data.pages.masthead.each do |nav| %>
        --><li>
          <% label = nav.abbr ? "<abbr class='nav__label' title='#{nav.abbr.title}'>#{nav.abbr.label}</abbr>" : "#{nav.label}" %>
          <a title="<%= nav.alt %>" href="/<%= nav.slug %>"><%= label %></a>
        </li><!--
      <% end %>-->
    </ul>
  </div>
</footer>