<footer class="footer">
  <div class="group">
  	<p>Built on <a href="https://robsterlini.co.uk" title="Visit Rob’s site" rel="nofollow">Rob Sterlini</a>’s Middleman boilerplate <a href="https://github.com/robsterlini/middleplate" title="Fork the Middleplate repo" rel="nofollow">Middleplate</a>.
    <ul class="list--inline"><!--
      <% data.pages.pages.each do |nav| %>
        <% if nav.nav.footer != false %>
          --><li>
            <a title="<%= nav.nav.alt %>" href="/<%= nav.slug %>"><%= nav.nav.label %></a>
          </li><!--
        <% end %>
      <% end %>
    --></ul>
  </div>
</footer>