/**
 * Button SCSS Partial
 *
 * @requires framework/_type.scss, framework/_color.scss
 */

/* ==|== Buttons =================
	Containers
========================================== */

.btns {

}

.btns--sizing {
	@extend %paragraph;
}

.btns--center {
	text-align: center;
	body.contact_index & {
		max-width: none;
		padding: 0 rem(16);
		@include max-width($bp-mid) {
			padding: 0;
		}
	}
}

%btns--fixed {
	position: fixed;
	top: $measure-unit;
	right: $measure-unit;
	z-index: 10;
	@include max-width($bp-tiny) {
		top: $measure-unit / 2;
		right: $measure-unit / 2;
	}
}

.btns--fixed {
	@extend %btns--fixed;
}

.btns--left {
	.btn,
	.btn--outline {
		margin-left: 0;
		margin-right: rem(20);
	}
}

.btns--menu {
	@extend %btns--fixed;
}

/* ==|== Buttons =================
	Buttons
========================================== */

%btn {
	font-weight: $font-weight-bold;
	display: inline-block;
	padding:rem(10) rem(15) rem(9);
	transition:all .25s cubic-bezier(#{$bezier-nice});
	width:auto;
	border-radius: rem(3);
	line-height:1.3;
	border:rem(2) solid $color-link-primary;
	text-decoration: none;
	margin:rem(5) rem(10) rem(5);
	@include active {
		transform:scale(0.95,0.95);
	}
}
.btn {
	@extend %btn;
	background:$color-link-primary;
	color:$color-white;
	text-shadow: none;
	@include hover {
		background:$color-link-primary-hover;
		border-color:$color-link-primary-hover;
		color:$color-white;
	}
	.btns--read-more & {
		width:100%;
		overflow: hidden;
		padding-left:rem(30);
		text-indent:rem(-15);
		white-space:nowrap;
		text-overflow: ellipsis;
		max-width:rem(225);
	}
}
.btn--outline {
	@extend %btn;
	@include hover {
		color:$color-link-primary-hover;
		border-color:$color-link-primary-hover;
	}
}
.btn--icon {
	padding-left: rem(50);
	position: relative;
	&:before {
		font-size: rem(32);
		position: absolute;
		top: calc(50% - #{rem(16)});
		left: rem(8);
	}
}
@mixin social-color($c, $b: true, $o: true, $p: 12%) {
	@if $b == true {
		&.btn {
			background-color: $c;
			border-color: $c;
			@include hover {
				background-color: darken($c, $p);
				border-color: darken($c, $p);
			}
		}
	}
	@if $o == true {
		&.btn--outline {
			color: $c;
			border-color: $c;
			@include hover {
				color: darken($c, $p);
				border-color: darken($c, $p);
			}
		}
	}
}
[href*="dribbble.com"] {
	@include social-color($color-s-dribbble, true, true, 15%);
}
[href*="twitter.com"] {
	@include social-color($color-s-twitter, true, false);
}
[href*="instagram.com"] {
	@include social-color($color-s-instagram, false);
}