/**
 * Layout SCSS Partial
 *
 * @requires framework/_type.scss
 */

.group {
	margin:0 auto;
	max-width:$layout-max-width-wide-suffix;
	width:93.75%;

}

.wrapper {
  overflow: hidden;
  width:100%;
  // padding-bottom:rem(110);
  flex:1;
}

%masthead-toggled-slide {
  @include max-width($tp-masthead-hamburger) {
    transition:transform $timing cubic-bezier(#{$bezier-nice}), opacity $timing cubic-bezier(#{$bezier-nice});
    .masthead--toggled & {
      opacity: 0.5;
      transform: translateX($measure-unit);
    }
  }
}

main {
  @extend %masthead-toggled-slide;
  background:$color-white;
  overflow: hidden;
  position: relative;
  z-index:1;
  padding-bottom: $measure-unit * 3;
  padding-left: $masthead-full;
  @include max-width($tp-masthead-icon) {
    padding-left: $masthead-icon;
  }
  @include max-width($tp-masthead-hamburger) {
    padding-left:0;
    padding-bottom: $measure-unit / 2;
  }
}

hr {
  margin: $measure-unit * 4 auto $measure-unit * 3;
  max-width: rem($layout-max-width /2);
  outline: none;
  border: 0;
  border-top: rem(2) lighten($color-accent, 30%) solid;
  p + & {
    margin-top: rem(60);
  }
}