/**
 * Layout SCSS Partial
 *
 * @requires framework/_type.scss
 */

.group {
	margin:0 auto;
	max-width:$layout-max-width-wide-unit;
	width:93.75%;

}

.wrapper {
  overflow: hidden;
  width:100%;
  flex:1;
}
main {
  background:$color-white;
  overflow: hidden;
  position: relative;
  z-index:1;
  padding-bottom: $measure-unit * 3;
}

hr {
  margin: $measure-unit * 4 auto $measure-unit * 3;
  max-width: rem($layout-max-width /2);
  outline: none;
  border: 0;
  border-top: rem(2) lighten($color-accent, 30%) solid;
  p + & {
    margin-top: rem(60);
  }
}