/**
 * Typography SCSS Partial
 *
 * @requires framework/_type.scss
 */

/* ==|== Typography =================
	1. Headings
========================================== */

h1, h2, h3, h4, h5, h6, p, ul, ol {
	@include font-feature-settings(liga kern onum);
	line-height: $font-default-line-height;
	max-width: $layout-max-width-unit;
}

h1 {
	@include font-size(52);
	font-weight: $font-weight-bold;
	margin:rem(72) auto rem(24);
}

h2 {
	@include font-size(32);
	font-weight: $font-weight-bold;
	margin:rem(48) auto rem(12);
}

%h3 {
	@include font-size(25);
}

h3 {
	@extend %h3;
	font-weight: $font-weight-bold;
	margin:rem(24) auto rem(16);
}

%h4 {
	@include font-size(22);
	margin: rem(8) auto rem(16);
}

h4 {
	@extend %h4;
}
h5 {
	@extend %h4;
}
h6 {
	@extend %h4;
}

@include max-width($bp-small) {
	h1 {
		@include font-size(42);
	}
	h2 {
		@include font-size(28);
	}
	%h3 {
		@include font-size(22);
	}
	%h4 {
		@include font-size(20);
	}
}
@include max-width($bp-tiny) {
	h1 {
		 @include font-size(34);
	}
	h2 {
		@include font-size(24);
	}
	%h3 {
		@include font-size(20);
	}
	%h4 {
		@include font-size(18);
	}
}

/* ==|== Typography =================
	Paragraphs
========================================== */
%paragraph {
	@include font-size(18);
	line-height:1.45;
	margin:rem(6) auto rem(12);
	@include max-width($bp-small) {
		@include font-size(17);
	}
	@include max-width($bp-tiny) {
		@include font-size(16);
	}
}
p {
	@extend %paragraph;
}

.small-caps,
.sc {
	@include font-feature-settings(smcp c2sc lnum kern);
}
.small-caps {
	line-height: 1.1;
}

.paragraph--pullout {
	@extend %h3;
}

blockquote {
	font-weight: $font-weight-normal;
	font-style:italic;
	margin:rem(15) auto;
	border-left:lighten($color-accent,15%) solid rem(2);
	padding-left:rem(23);
	& + &,
	.article__description + & {
		margin-top: rem(30);
	max-width: $layout-max-width-unit;
	}
	p {
		@include font-size(24);
		@include max-width($bp-small) {
			@include font-size(22);
		}
		@include max-width($bp-tiny) {
			@include font-size(20);
		}
	}
	&.blockquote--long {
		p {
			@extend %paragraph;
		}
	}
	cite {
		font-style: normal;
		display: block;
		@include font-size(18);
		margin-top: rem(5);
		@include max-width($bp-small) {
			@include font-size(17);
		}
		@include max-width($bp-tiny) {
			@include font-size(16);
		}
		&:before {
			content:'— ';
		}
	}
}

abbr[title] {
	border:0;
	background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQgMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNCAyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cmVjdCBmaWxsPSIjMzMzMzMzIiB3aWR0aD0iMiIgaGVpZ2h0PSIyIi8+PC9zdmc+) repeat-x left 88%;
	background-size:rem(2) rem(1);
}

.strike {
	text-decoration: line-through;
}