---
description: This is the description for the home page, and will be used in the meta and Twitter description fields
priority: 1.0
---

<% defined? page.description { content_for(:meta_description, "#{page.description}") } %>

<h1><%= current_page.data.title || page.title || "Test page" %></h1>

<%= partial "pages/#{page.slug}.md.erb" %>