/* =============================================================================
   UI Partials
========================================================================== */

/**
 * Including SCSS Partial. Keeps screen.scss neater.
 */

@import "_masthead";
@import "_nav";
@import "_footer";