/**
 * Navigation SCSS Partial
 *
 * @requires framework/_type.scss, framework/_variable.scss,
 *           modules/_lists.scss
 */

/* ==|== Navigation =================
  General
========================================== */

.nav {
  @include max-width($tp-masthead-hamburger) {
  	display: none;
  	.masthead--toggled & {
  		display: block;
  	}
  }
}
.nav__list {
  padding: 0;
  @include min-width($tp-masthead-hamburger) {
    max-width: $layout-max-width-unit;
  }
}
.nav__item {
  @include min-width($tp-masthead-hamburger) {
    display: inline;
  	& + li {
      &:before {
        color: $color-accent;
        content:' • ';
      }
    }
  }
}
[class^="nav__link--"] {
	
}

/* ==|== Navigation =================
  Menu button
========================================== */

.nav__toggle {
	@include min-width($tp-masthead-hamburger) {
		display: none;
	}
}