.nav {
  @include max-width($tp-masthead-hamburger) {
  	display: none;
  	.masthead--toggled & {
  		display: block;
  	}
  }
}
.nav__list {
    max-width: $layout-max-width-unit;
}
.nav__item {
}
[class^="nav__link--"] {
	
}
.nav__toggle {
	@include min-width($tp-masthead-hamburger) {
		display: none;
	}
}