---
title: Web designer
nav: home
description: I’m a web designer with a love for gorgeous typography, delicious interaction, and attention to detail.
no_footer: true
no_masthead: true
priority: 1.0
---

<section id="content" class="wrapper" data-page="home">
  <%= partial "partials/hero", locals: {
    image: current_page.data.hero,
    image_small: current_page.data.hero_small,
    image_loc: hero_dir,
    title: "Hi I’m Rob Sterlini",
    subtitle: current_page.data.description,
    extra: "<p>I work for <a href='http://fueled.com' title='Visit the Fueled website'>Fueled</a>, but take on freelance projects that speak to me! Oh, and I’m raising money for Macmillan by competing in a whole bunch of crazy events throughout 2015. <a href='/triathlon' title='Read about my fundraising plans here'>Read and donate?</a> You know you want to!</p>
      <ul class='list--large-icons'>
        <li class='list--large-icons__item ss-nav-projects'>
          <a class='list--large-icons__link' href='/portfolio'>
            <h2 class='list--large-icons__title'>Explore my life’s work</h2>
            <p>Check out a selection of my previous and on-going projects.</p>
            <p class='small-caps'>Read more<span class='visuallyhidden'> about my work.</span></p>
          </a>
        </li><!--
        --><li class='list--large-icons__item ss-nav-process'>
          <a class='list--large-icons__link' href='/process'>
            <h2 class='list--large-icons__title'>Find out how I do it</h2>
            <p>Read up on my process, from taking on an idea through to post-launch.</p>
            <p class='small-caps'>Read more<span class='visuallyhidden'> about how I work.</span></p>
          </a>
          </li><!--
        --><li class='list--large-icons__item ss-nav-journal'>
          <a class='list--large-icons__link' href='/journal'>
            <h2 class='list--large-icons__title'>Step into my thoughts</h2>
            <p>Read any of my journal thoughts on anything from life to design and more.</p>
            <p class='small-caps'>Read more<span class='visuallyhidden'> about what I’ve been writing about.</span></p>
          </a>
        </li><!--
        --><li class='list--large-icons__item ss-nav-about'>
          <a class='list--large-icons__link' href='/about'>
            <h2 class='list--large-icons__title'>Learn about me</h2>
            <p>Find out everything from how many tattoos I have, to my favourite food.</p>
            <p class='small-caps'>Read more<span class='visuallyhidden'> about me.</span></p>
          </a>
        </li><!--
        --><li class='list--large-icons__item ss-nav-contact'>
          <a class='list--large-icons__link' href='/about'>
            <h2 class='list--large-icons__title'>Get in touch</h2>
            <p>Got a project I’m perfect for? Want to ask a question? Go on, say hi!</p>
            <p class='small-caps'>Read more<span class='visuallyhidden'> about getting in touch with me.</span></p>
          </a>
        </li><!--
        --><li class='list--large-icons__item ss-nav-bucket'>
          <a class='list--large-icons__link' href='/bucket-list'>
            <h2 class='list--large-icons__title'>Compare our bucket lists</h2>
            <p>I’ve started a proper bucket list, have you? See what’s on mine.</p>
            <p class='small-caps'>Read more<span class='visuallyhidden'> about what I plan on doing in the future.</span></p>
          </a>
        </li>
      </ul>"
    }
  %>
</section>