/**
 * Utility SCSS File
 */

// Measure and timing
$measure:       16;
$measure-unit:  rem($measure);
$timing:  .25s;

// Visual variables
$btn-radius: rem(3);
$btn-border: rem(2);

// Breakpoints
$bp-miniscule:   $measure * 16;
$bp-tiny:        $measure * 32;
$bp-small:       $measure * 48;
$bp-mid:         $measure * 64;
$bp-large:       $measure * 72;

// Tweakpoints
$tp-masthead-hamburger:   $measure * 30; // 480

// Max widths
$layout-max-width:              $measure * 40;
$layout-max-width-wide:         $measure * 64;
$layout-max-width-unit:       rem($layout-max-width);
$layout-max-width-wide-unit:  rem($layout-max-width-wide);

// Masthead widths
$masthead-full:       $measure-unit * 10;
$masthead-icon:       $measure-unit * 4;